/* CSS Document */

/*********/
/* FONTS */
/*********/





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #052f3d;
	--color-background: #4287f5;
}


/****************/
/* JOUW STYLING */
/****************/
body {
	perspective: 10em;
	font-family: sans-serif;
	color: var(--color-text);
	background-image:
		linear-gradient(#4287f5 15%,
			rgb(41, 81, 23) 10%);
	background-size: 100% 100%;
	background-position: left top;
	display: grid;
	height: 100dvh;
	margin-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}

body:hover {
	animation: after 20s linear infinite;
}

body:hover h1 span:nth-of-type(1) {
	animation: golfbal 20s linear;
}

/* body:hover{
	background-position: left bottom;
} */
/* Tee-box */
body::before {
	content: "";
	position: absolute;
	background: rgb(91, 153, 63);
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	width: 30em;
	height: 15em;
	bottom: -1em;
	left: calc(50% - 15em);
	z-index: 10;
}

/* Boom */
body::after {
	content: "";
	position: absolute;
	background-image: linear-gradient(#133c01 50%, rgb(45, 23, 3) 30%);
	clip-path: polygon(15% 41%, 12% 22%, 31% 6%, 67% 6%, 89% 18%, 88% 41%, 75% 49%, 64% 59%, 65% 100%, 40% 100%, 38% 60%, 30% 48%);
	width: 15em;
	height: 20em;
	bottom: 25%;

	z-index: 10;
}

h1 {
	font-family: roboto;
	font-weight: 800;
	/* margin: 0; */
	position: relative;
}


h1 span:nth-of-type(1) {
	text-transform: capitalize;
	z-index: 2;
	color: white;
	position: absolute;
}

h1 span:nth-of-type(1)::before {
	content: "";
	position: absolute;
	background-color: #052f3d;
	width: 1.1em;
	height: 1.1em;
	border-radius: 50%;
	display: inline-block;
	z-index: -1;
	left: -6px;
	top: 5px;

}


h1 span:nth-of-type(2) {
	margin-left: .95em;

}

/* Green */
h1 span:nth-of-type(2)::before {
	content: '';
	position: absolute;
	top: 4em;
	left: calc(50% - 5em);
	width: 10em;
	height: 3em;
	border-radius: 50%;
	background-color: #3cc800;
	z-index: 40;
	background-image:
		radial-gradient(black 0.3em, transparent 0);
	background-repeat: no-repeat;
	background-position: calc(0.2 * -20vw) calc(0.2 * -20vh + 2vh);
}


h1 span:nth-of-type(3)::before {
	content: '';
	position: absolute;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
	width: .0625em;
	height: 2.5em;
	top: calc((0.2 * -20vh + 2vh) + 3em);
	left: calc(45.5vw - .0375em);
	transform: rotate3d(0, 1, 1, 2deg);
	z-index: 100;
}

h1 span:nth-of-type(3)::after {
	content: '18';
	position: absolute;
	background-color: yellow;
	font-size: 1.2rem;
	text-align: center;
	width: 2em;
	height: 1.5em;
	top: calc((0.2 * -20vh + 2vh) + 5em);
	left: 45.5vw;
	clip-path: polygon(0% 0%, 14% 8%, 18% 10%, 21% 10%, 24% 10%, 28% 8%, 38% 2%, 44% 1%, 49% 1%, 53% 5%, 58% 7%, 65% 10%, 72% 9%, 78% 6%, 82% 3%, 88% 1%, 93% 1%, 100% 1%, 100% 100%, 95% 99%, 91% 98%, 87% 97%, 84% 95%, 80% 92%, 76% 94%, 72% 96%, 68% 99%, 62% 99%, 56% 99%, 53% 96%, 48% 93%, 42% 92%, 38% 95%, 30% 98%, 24% 95%, 18% 93%, 12% 93%, 6% 96%, 1% 99%, 0% 96%);
	transform: rotate3d(0, 1, 1, 2deg);
	animation: flag 2s infinite;

}

h1 span:nth-of-type(6)::before {
	content: "";
	position: absolute;
	font-size: 1.5rem;
	color: white;
	left: calc((0.2 * 200vw + 6vw) + 1em);
	top: calc(23vh - 100vh * 0.03);
	/* left: 48vw; */
	z-index: 102;
	animation: tekstafter 20s;
}


h1 span:nth-of-type(7) {
	z-index: 2;
	position: relative;
}



h1 span:nth-of-type(7)::after {
	content: '';
	background-color: #2b8f00;
	position: absolute;
	bottom: -28.5em;
	left: -3.5em;
	z-index: -10;
	width: 100vw;
	height: calc(700px + (100vh * 0.1));
	clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
}

/* jouw code */

@media (min-width: 600px) {
	h1 span:nth-of-type(7)::after {
		clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
	}

}

@media (max-width: 600px) {
	Body::after {
		display: none;
	}

	h1 span:nth-of-type(3)::before {
		left: calc(44vw - .0375em);
	}

	h1 span:nth-of-type(3)::after {
		left: 44.1vw;
	}
}

@keyframes tekstafter {
	0% {
		content: "";
	}

	69% {
		content: "";
	}

	70% {
		content: "olf.nl";
	}

	100% {
		content: "olf.nl";
	}
}

@keyframes after {
	0% {
		transform: translate(0, 0);
		margin-top: 0;
	}

	50% {
		transform: translate(0, 0);
		margin-top: 0;
	}

	50.1% {
		transform: scale(2);
		margin-top: 20em;
	}

	100% {
		transform: scale(2);
		margin-top: 20em;
	}
}

@keyframes golfbal {
	0% {
		transform: translate(0, 0);
		z-index: 100;
	}

	5% {
		transform: translate(45vw, 85vh);
	}

	10% {
		transform: translate(45vw, 85vh);
	}

	15% {
		transform: translate(34vw, 40vh) scale(1) rotate3d(1, 1, 1, 2160deg);
	}

	17.5% {
		transform: translate(35vw, calc(20vh - 100vh * 0.03)) scale(.95) rotate3d(1, 1, 1, 3240deg);
	}

	22.5% {
		transform: translate(40vw, calc(10vh - 100vh * 0.03)) scale(.6) rotate3d(1, 1, 1, 3960deg);
	}

	27.5% {
		transform: translate(42vw, calc(20vh - 100vh * 0.03)) scale(.5) rotate3d(1, 1, 1, 5040deg);
	}

	30% {
		transform: translate(43vw, calc(17vh - 100vh * 0.03)) scale(.49) rotate3d(1, 1, 1, 5400deg);
	}

	32.5% {
		transform: translate(43.5vw, calc(18vh - 100vh * 0.03)) scale(.48) rotate3d(1, 1, 1, 5760deg);
	}

	35% {
		transform: translate(44vw, calc(19vh - 100vh * 0.03)) scale(.425) rotate3d(1, 1, 1, 6120deg);
	}

	37.5% {
		transform: translate(45vw, calc(18vh - 100vh * 0.03)) scale(.4) rotate3d(1, 1, 1, 6480deg);
	}

	38% {
		transform: translate(45vw, calc(18vh - 100vh * 0.03)) scale(.4) rotate3d(1, 1, 1, 6480deg);
	}

	45% {
		transform: translate(46vw, calc(22vh - 100vh * 0.03)) scale(.39) rotate3d(1, 1, 1, 6480deg);
	}

	55% {
		transform: translate(46vw, calc(22vh - 100vh * 0.03)) scale(.39) rotate3d(1, 1, 1, 6480deg);
	}

	65% {
		transform: translate(46vw, calc(22vh - 100vh * 0.03)) scale(1) rotate3d(1, 1, 1, 6480deg);
	}

	100% {
		z-index: 100;
		transform: translate(46vw, calc(22vh - 100vh * 0.03)) scale(1) rotate3d(1, 1, 1, 6480deg);
	}
}



@media(prefers-color-scheme: dark) {
	body {
		background-image: linear-gradient(#0c2c60 15%,
				rgb(32, 59, 19) 10%);
		color: white;
	}

	body::before {
		background: rgb(62, 104, 42);
	}

	body:hover h1 span:nth-of-type(1) {
		animation: none;
	}

	h1 span:nth-of-type(2)::before {
		background-color: #31860c;
	}

	h1 span:nth-of-type(3)::before {
		opacity: .6;
	}

	h1 span:nth-of-type(3)::after {
		opacity: .6;
	}

	h1 span:nth-of-type(4)::before {
		content: "De golfbaan is gesloten.";
		position: absolute;
		top: calc(50% - 1em);
		left: calc(50% - 5em);
		color: white;
		font-size: clamp(1rem, 2rem, 5rem);
		z-index: 200;
	}

	h1 span:nth-of-type(4)::after {
		content: "";
		position: absolute;
	}

	h1 span:nth-of-type(5)::before {
		content: "Zet dark mode uit voor de animatie.";
		position: absolute;
		top: calc(50% + 1em);
		left: calc(50% - 7em);
		color: rgb(168, 167, 167);
		font-size: clamp(1rem, 1.5rem, 4rem);
		z-index: 200;
		font-weight: 300;
	}

	h1 span:nth-of-type(7)::after {
		content: '';
		background-color: #1d4c09;
	}
}

@media(prefers-reduced-motion) {
	body {
		background-image: linear-gradient(#0c2c60 15%,
				rgb(32, 59, 19) 10%);
		color: white;
	}

	body::before {
		background: rgb(62, 104, 42);
	}

	body:hover h1 span:nth-of-type(1) {
		animation: none;
	}

	h1 span:nth-of-type(2)::before {
		background-color: #31860c;
	}

	h1 span:nth-of-type(3)::before {
		opacity: .6;
	}

	h1 span:nth-of-type(3)::after {
		opacity: .6;
	}


	h1 span:nth-of-type(4)::before {
		content: "De golfbaan is gesloten.";
		position: absolute;
		top: calc(50% - 1em);
		left: calc(50% - 5em);
		color: white;
		font-size: clamp(1rem, 2rem, 5rem);
		z-index: 200;
	}

	h1 span:nth-of-type(4)::after {
		content: "";
		position: absolute;
	}

	h1 span:nth-of-type(5)::before {
		content: "Zet reduced motion uit voor de animatie.";
		position: absolute;
		top: calc(50% + 1em);
		left: calc(50% - 7em);
		color: rgb(168, 167, 167);
		font-size: clamp(1rem, 1.5rem, 4rem);
		z-index: 200;
		font-weight: 300;
	}

	h1 span:nth-of-type(7)::after {
		content: '';
		background-color: #1d4c09;
	}
}